.cabecalho {
    position: absolute;
    width: 122px;
    height: 42px;
    left: 122px;
    top: 11px;
}
.home{
    position: absolute;
width: 54px;
height: 0px;
left: 386px;
top: 48px;

border: 2px solid #007191;
}

.o hobby{
    position: absolute;
width: 66px;
height: 18px;
left: 501px;
top: 28px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #007191;

}
.Acervo{
    position: absolute;
width: 53px;
height: 18px;
left: 631px;
top: 28px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #007191;


}
.Contato{
    position: absolute;
width: 61px;
height: 18px;
left: 752px;
top: 28px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #007191;
}
.banner-texto{
    font-weight: 300;
    font-size: 21px;
}